body {
	padding: 50px;
	margin: 0;
	background: url(images/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h1  {
    font-size: 45px; text-align: initial;
    border-bottom: 5px solid red;
    border-top: 5px solid red;
    margin-bottom: 0px; 
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center ;
	color: black;
    }
ul {
	padding: 5px;
	margin: 10px 0;
	list-style: none;
	
	border-bottom: 1px solid #e7e7e7;
	float: left;
	clear: left;
	
	}

ul li {

	display: inline; /*For ignore double margin in IE6*/
	margin: 0 10px;
}

ul li a {
	text-decoration: none;
	float:left;
	color: black;
	cursor: pointer;
	font: 900 14px/22px "Arial", Helvetica, sans-serif;
	}

ul li a span {
	margin: 0 10px 0 -10px;
	padding: 1px 8px 5px 18px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float: left;
}

ul.red li a:hover {
 	color: #fff;
	background: url(images/red.png) no-repeat top right;
}

ul.red li a:hover span {
	background: url(images/red.png) no-repeat top left;
}

ul.red li a.current {
	background: url(images/red.png) no-repeat top right;
 	color: #fff;
}

ul.red li a.current span {
	background: url(images/red.png) no-repeat top left;
}
